{%- paginate blog.articles by 6 -%}
<div class="blog-page page-width">
  <header class="blog-header">
    <h1>{{ blog.title }}</h1>
  </header>

  <div class="blog-grid">
    {%- for article in blog.articles -%}
      <article class="article-card">
        {%- if article.image -%}
          <div class="article-card__image-wrapper">
            <a href="{{ article.url }}">
              <img src="{{ article.image | image_url: width: 400 }}" 
                   alt="{{ article.image.alt | escape }}" 
                   loading="lazy"
                   width="400"
                   height="{{ 400 | divided_by: article.image.aspect_ratio | round }}">
            </a>
          </div>
        {%- endif -%}

        <div class="article-card__info">
          <h2 class="article-card__title">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h2>
          <span class="article-card__meta">{{ article.published_at | date: '%b %d, %Y' }} &bull; {{ article.author }}</span>
          <div class="article-card__excerpt rte">
            {%- if article.excerpt.size > 0 -%}
              {{ article.excerpt }}
            {%- else -%}
              <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
            {%- endif -%}
          </div>
          <a href="{{ article.url }}" class="article-card__readmore">Read More &rarr;</a>
        </div>
      </article>
    {%- endfor -%}
  </div>

  {%- if paginate.pages > 1 -%}
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>
  {%- endif -%}
</div>
{%- endpaginate -%}
